header{
    background-color:#680021;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    position: static;
    padding: 14px 16px;   
}

.topbar header ul{

list-style-type: none;
margin: 0;
padding: 0;
position: static;
}

.topbar header ul li {
    display: inline;
    position: static;
    
}

.topbar header ul li a {
    color: white;
    text-decoration:none;
    float: right;
    padding: 14px 16px;   
    position: static; 
}


.logo{
    height: 16px;
    width: 14px;
    /* display: inline;
    position: static; */
    
}

.logoname{
    margin-left: 1rem; 
    color: white;
    font-style: Zapf-Chancery, italic;
}

.brand-logo{
    display: flex;
}


@import url('https://fonts.googleapis.com/css? family=Poppins:400,500,700');

*, *::before, *::after{
    box-sizing: border-box;
}


.bottombar{
    background-color:#680021;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    position: static;
    width: 100%;
}

.bottombar, footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: static;


}

.bottombar, footer ul li {
    display: inline;
    position: static;
    
}

.bottombar, footer ul li a {
    color: white;
    text-decoration:none;
    float: right;
    padding: 14px 16px;   
    position: static; 
}

/* .container1 {
    position: relative;
    text-align: center;
    color: white;
  } */



  .container1, .name, .name1, .work{
    color: white;
    padding-left: 10px;
    border-right: 10px;
    text-align: center;
}

.name{
    font-size: 20px;
    font-weight: 60px;
    border-bottom: 10px;
}

/* .name, .name1, .work{
    text-align: center;
    font-size: 40px;
    padding-top: 5px%;
    padding-bottom: 20%; */
}


.name{
    position: absolute;
    top: 80px;
    left: 50%;
    margin-top: 100px;
    padding-bottom: 100px;
    height: 10vh;
  }

  

  .name{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* .work, .name{
      position: absolute;
      /* right: 8px; */
      /* bottom: 250px;
      left: 600px;
      text-align: center; */
    
  /* } */ */





